.container {
    max-width: 400px;
    margin: 10 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}


th {
    background-color: #a1e0ffc4;
}
td input[type="button"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
td input[type="button"]:hover {
    background-color: #0d79ec;
}
.form-group label {
    display: inline-block;
    width: 100px;
}
.form-group input {
    width: calc(100% - 110px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.btn-group {
    text-align: center;
}
.btn-group button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-save {
    background-color: #4CAF50;
    color: white;
}
.btn-save:hover {
    background-color: #45a049;
}
.btn-cancel {
    background-color: #f44336;
    color: white;
}
.btn-cancel:hover {
    background-color: #da190b;
}
.form-group label {
    display: inline-block;
    width: 100px;
}
.form-group input {
    width: calc(100% - 110px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form-group select {
    width: calc(100% - 110px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.btn-group {
    text-align: center;
}
.btn-group button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-save {
    background-color: #4CAF50;
    color: white;
}
.btn-save:hover {
    background-color: #45a049;
}
.btn-cancel {
    background-color: #45a049;
    color:white; 
}
.btn-cancel:hover {
    background-color: #45a049;
}
